@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    width: auto;
}

.focusup-logo {
    display: flex;
    align-items: center;
    gap: 8px; 
    text-decoration: none;
    cursor: pointer;
}

.checkmark-container {
    width: 40px;
    height: 40px;
    background-color: #1a73e8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.checkmark {
    width: 25px;
    height: 10px;
    border: 5px solid white;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    position: absolute;
}

.focusup-text {
    font-size: 40px;
    font-weight: bold;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.text_container {
    max-width: 800px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 30px;
    align-items: center;
}

.text_container h1 {
    font-size: 40px;
    text-align: center;
}

.text_container p {
    font-weight: normal;
    font-size: 25px;
    color: #555;
}
.botoes{
    display: flex;
    gap: 20px;
}
.cadastro a {
    color: #EFF1F3;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins';
}
.botoes .cadastro{
    background-color: #1a73e8;
    border-radius: 30px;
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0 0 3px black;
    border: none;
    cursor: pointer;
}
.login a {
    color: #1a73e8;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins';
    
}
.botoes .login{
    background-color: #EFF1F3;
    border-radius: 30px;
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0 0 3px black;
    border: none;
    cursor: pointer;
}

.botoes .cadastro:hover{
    background-color: #2e7d32;
    transform: scale(1.03);   
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.botoes .login:hover{
    background-color: #2e7d32;
    transform: scale(1.03);   
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.login a {
    color: #12468a;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins';
    
}
.login a:hover{
    color: white;
    
}
.cadastro a {
    color: #cacaca;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins';
}