<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='formularios.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{url_for('static', filename='imagens/correto.png')}}" type="image/x-icon">
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <header>
        <h1>Redefinir senha</h1>
    </header>

    <main>
        <form action="{{ url_for('resetar_senha', token=token) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="logo-container">
                <div class="focusup-logo">
                    <div class="checkmark-container">
                        <div class="checkmark"></div>
                    </div>
                    <span class="focusup-text">FocusUp</span>
                </div>
            </div>

            <p style="text-align: center; margin-bottom: 20px; color: #666;">
                Digite sua nova senha.
            </p>

            <div class="senha">
                <i class="fa-solid fa-key"></i>
                <input type="password" name="senha" placeholder="Nova senha" required>
            </div>

            <div class="senha">
                <i class="fa-solid fa-key"></i>
                <input type="password" name="confirmar_senha" placeholder="Confirmar nova senha" required>
            </div>

            <button type="submit">Redefinir senha</button>
            <a href="{{url_for('login')}}">Voltar ao login</a>
        </form>
    </main>
</body>
</html>