name: "Auto Assign Reviewers"

on:
  pull_request:
    types: [opened]

permissions:
  pull-requests: write
  contents: read

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v1.2.2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"